body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #504e70;
    font-family: 'poppins';
}
a{
    color: #504e70;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background: #fdf9ff;
}
header{
    position: absolute;
    width: 100%;
    height: 80px;
}
.logo{
    color: white;
    float: left;
    width: 60px;
    height: 80px;
    line-height: 80px;
    padding: 0px 10px;
    margin-left: 30px;
    position: relative;
}
.logo a span{
    border-bottom: 5px solid #ff0028;
}
.box{
    cursor: pointer;
    display: inline-block;
    display: none;
    float: right;
    margin-right: 30px;
    padding: 20px 0px;
}
.box > div{
    width: 35px;
    height: 5px;
    background: #504e70;
    margin: 6px auto;
    transition: transform 0.5s ease;
}
.nav{
    width: 100%;
    height: 80px;
    background: #fdf9ff;
    position: fixed;
    top: 0;
    border-bottom: 2px solid #f2f2fc;
    z-index: 100;
    box-shadow: 0px 0px 1px black;
}
.nav ul{
    float: right; 
    opacity: 1;
}
.nav ul li{
    display: inline-block;
    padding: 20px;
    line-height: 40px;
    margin-right: 20px;
    z-index: 2;
}
.nav ul li a , .logo a{
    width: 60px;
    font-family: 'poppins';
    font-size: 22px;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}
.logo a{
    font-weight: 900;
    font-size: 32px;
    letter-spacing: 3px;
}
.nav ul li a:hover , .logo a:hover{
    color: #d2d2d2;
}
.nav ul li a:before{
    content:'';
    position:absolute;
    left: 0;
    top: 31px;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    background: #ff0028;
    transition:transform 0.3s ease ;
}
.nav ul li a:hover:before{
    transform:scaleX(1);
    transform-origin:center;
}
.profile{
    width: 100%;
    margin-top: 0px;
    background: #fdf9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.profile .intro{
    border-radius: 50%;
}
.profile img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #ec1839;
}
.profile h1{
    color: #504e70;
    font-family: courier;
    font-weight: 900;
    font-size: 2.5rem;
    padding: 13px 0px 10px 0px;
}
.profile p{
    font-weight: 900;
    font-size: 1.3rem;
    padding-bottom: 10px;
}





section#abt{
    width: 100%;
    max-height: 100vh;
}
.main{
    width: 80%;
    margin: 20px auto;
    border: 2px solid #f2f2fc;
}
.photo{
    width: 40%;
}
.photo img{
    width: 300px;
    height: 300px;
}
