body{
    background:  #6f86d6;
    overflow-x: hidden;
}
*{
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
	width: 100vw;
	height: 100vh;
}
.container .box{
    cursor: pointer;
    display: inline-block;
    display: none;
    float: right;
    margin-right: 30px;
    padding: 20px 0px;
}
.container .box > div{
    width: 35px;
    height: 5px;
    background: white;
    margin: 6px auto;
    transition: all 0.6s ease;
}
.container .nav{
	width: 100%;
	height: 80px;
	background: rgba(0,0,0,1);
	position: fixed;
	top: 0;
	z-index: 100;
}
.container .nav ul{
    float: right; 
    opacity: 1;
}
.container .nav ul li{
    display: inline-block;
    padding: 20px;
    line-height: 40px;
    margin-right: 20px;
    z-index: 2;
}
.container .nav ul li a{
    width: 60px;
    font-family: 'poppins';
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}
.container .nav ul li a:hover{
    color: #d2d2d2;
}
.container .nav ul li a:before{
    content:'';
    position:absolute;
    left: 0;
    top: 31px;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    background: #ff0028;
    transition:all 0.6s ease ;
}
.container .nav ul li a:hover:before{
    transform:scaleX(1);
    transform-origin:center;
}
@media screen and (max-width: 767px){
	.container .nav ul{
		background: rgba(0,0,0,1);
		text-align: center; 
		width: 100%;
		margin-top: 0;
		opacity: 0;
		transition:opacity 0.6s ease ;
	}
	.container .nav ul li{
		display: block;
		width: 100%;
	}
	.container .box{
		display: block;
	}
	.intro .hexagon{
		width: 320px;
        height: 320px;
        top: 40%;
	}
	.intro .hexagon .hexagon-inner-in{
		background-position: -45px -10px;
	}
}


.intro{
	width: 100%;
	height: auto;
}
.hexagon{
    width: 430px;
    height: 350px;
    display: block;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%) rotate(120deg);
    background: transparent;
    border-radius: 50%;
    overflow: hidden;
    animation-name: la;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    z-index: -2;
}
.hexagon-inner{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-60deg);
    background: transparent;
    overflow: hidden;
}
.hexagon-inner-in{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-60deg);
    background: url('PROFILE1.png');
    overflow: hidden;
    outline: 5px solid darkblue;
    outline-offset: 18px;
}
.intro h1{
	position: absolute;
	left: 50%;
	top: 83%;
	width: 100%;
	transform: translate(-50%,-50%);
	text-align: center;
    letter-spacing: 2px;
    transform: translate(-50%,-50%);
    font-family: 'Poppins';
    color: white;
    font-size: 36px;
}
.intro h1 span{
    color: #ff0028;
}
@media screen and (max-width: 767px){
	.intro h1{
		font-size: 30px;
		top: 75%;
	}
}
#skills{
	width: 100vw;
	height: 100vh;
	background: #6f86d6;
	padding: 90px 20px;
	font-family: 'poppins';
    font-size: 22px;
    color: #fff;
    display: block;
    font-weight: 500;
}
#skills .s{
	width: 75%;
	margin: 20px auto;
	padding: 20px;
	border: 2px solid #6f86d6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#skills  h2 , #about h2{
	padding: 20px;
	margin: 0px 0px 30px 180px;
	display: inline;
}
strong{
	border-bottom: 5px solid #ff0028;
}
#skills .s > div{
	width: 260px;
	height: 180px;
	margin: 20px;
	border: 2px solid darkslateblue;
	background: #ff0028;
	border-bottom-left-radius: 70px;
	border-bottom-right-radius: 70px;
	text-align: center;
	padding: 110px 0;
	font-size: 22px;
	background: url(coffee.png);
	background-position: 0px 220px;
	background-repeat: repeat-x;
}
#skills .s div:nth-child(1){
	animation: colo 10s linear forwards;
}
#skills .s div:nth-child(2),
#skills .s div:nth-child(3),
#skills .s div:nth-child(4),
#skills .s div:nth-child(5),
#skills .s div:nth-child(6){
	animation: colo1 8s linear forwards;
}
@keyframes colo{
	0%{
        background-position: 0px 220px;
	}
	25%{
	    background-position: -350px 100px;	
	}
	50%{
		background-position: -500px 50px;
	}
	100%{
		background-position: -900px 20px;
	}
}
@keyframes colo1{
	0%{
        background-position: 0px 220px;
	}
	25%{
	    background-position: 150px 100px;	
	}
	50%{
		background-position: 350px 50px;
	}
	100%{
		background-position: 400px 60px;
	}
}

@media screen and (max-width: 1298px){
	#skills .s{
		width: 90%;
	}
	#skills  h2{
		padding: 20px;
	    margin: 0px 0px 30px 80px;
	}
}
@media screen and (max-width: 1085px){
	#skills .s{
		width: 90%;
		padding: 10px;
	}
	#skills  h2{
		padding: 20px;
	    margin: 0px 0px 30px 40px;
	}
	#skills .s > div{
		width: 200px;
	    height: 180px;
	}
}
@media screen and (max-width: 866px){
	#skills .s{
		width: 100%;
		padding: 10px;
	}
}
@media screen and (max-width: 783px){
	#skills .s{
		padding: 5px;
		margin: 10px auto;
	}
	#skills .s > div{
		width: 180px;
	    height: 160px;
	}
}
#about{
	width: 100vw;
	height: 100vh;
	background: #6f86d6;
	padding: 90px 20px;
	font-family: 'poppins';
    font-size: 22px;
    color: #fff;
    display: block;
    font-weight: 500;
}
#about .a .photo{
	width: 30%;
	margin: 35px 30px 30px 70px;
	height: auto;
	/*border: 2px solid #ff0028;*/
	float: left;
}
#about .a .detail{
	width: 60%;
	height: auto;
	margin: 30px 20px 30px 0px;
	float: right;
}
#about .a .detail h3{
	padding: 15px;
	line-height: 50px;
	letter-spacing: 2px;
	word-spacing: 3px;
}
.detail hr{
	height: 2px;
	background-color: #A52A2A;
	border: none;
}
#about .a .detail h3 span{
	border-bottom: 3px solid #ff0028;
}
#about .a .detail h3 .c{
	color: #ff0028;
	border-bottom: none;
}



#contact{
	width: 100vw;
	height: 100vh;
	padding: 110px 30px 130px 30px;
}
#contact h1{
    letter-spacing: 2px;
	word-spacing: 3px;
	font-size: 40px;
	text-align: center;
	color: white;
	font-family: 'poppins';
}
#contact .form-grp{
	width: 500px;
	height: auto;
	margin: 50px auto;
	border: 2px solid black;
}
#contact .form-grp label{
	text-align: left;
	font-size: 18px;
	color: white;
	font-family: 'poppins';
}
